.btn{
  
    &,
    &:link,
    &:visited{
        margin: 0 10px;
        min-width: 150px;
        text-align: center;
        text-decoration: none;
        padding: 1rem 2rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
        font-weight: 400;
        text-transform: capitalize;
        border: none;

        cursor: pointer;
    }
    
    &:hover{
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
        
        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active,
    &:focus{
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
    }
    &--white{
        background-color: $color-white;
        color: $color-black;
        
        &::after{
            background-color: $color-primary;
        }
    }
    &--white-stroke{
        background-color: $color-primary;
        border: 2px solid $color-white;
        color: $color-black;
        
        &::after{
            background-color: $color-primary;
        }
    }
    &--yellow{
        background-color: $color-primary;
        color: $color-black;
        
        &::after{
            background-color: $color-white;
        }
    }
    &--blue{
        background-color: $color-secondary-light;
        color: $color-white;
        
        &::after{
            background-color: $color-white;
        }
    }
    &::after{
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    &--animated{
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text{
    &:link,
    &:visited{
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
        position: absolute;
    }
    &:hover::after{
        content: '  \2192';
    }
    &:hover{
        content: '  \2192';
        background-color: $color-primary;
        color: $color-white;
        padding: 10px;
        box-shadow:  0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }
    &:active{
        box-shadow:  0 1rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}