.header {
  height: 100vh;
  background-image: linear-gradient(to right, rgba(black, 0.2), rgba(black, 1)),
    url(../images/imgBckg.jpg);
  background-position: right;
  background-size: cover;

  &__container {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 90px;
  }

  &--about {
    height: 50vh;
    background-image: linear-gradient(
        to right,
        rgba(black, 0.2),
        rgba(black, 1)
      ),
      url(../images/imgBckg.jpg);
    background-position: center;
    background-size: cover;
  }

  &__text{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: $color-white;
  }

  &__logo-box {
    top: 2rem;
    left: 4rem;
    position: absolute;
  }

  &__logo {
    height: 8rem;
    width: 20rem;
  }

  &__text-box {
    position: relative;
    text-align: center;
    color: $color-white;

    p {
      margin-bottom: 50px;
    }

    em:after {
      content: "";
      border-bottom: 1px solid #fff;
      width: 100%;
      display: block;
      margin: 30px auto;
    }
  }
}
