.section-info {
  padding: 60px 0;

  &__wrapper {
    width: 80%;
    margin: 0 auto;
  }

  &__img-bw {
    width: 300px;
    height: 300px;
    margin: 0 30px;

    @include respond(phone) {
      width: 200px;
      height: 200px;
      margin: 0 auto 30px auto;
    }
  }
}

.section-process {
  background-image:
    url(../images/imgBckg.jpg);
  background-position: right;
  background-size: 120%;

  padding: 120px 0;
  width: 100%;

  &__wrapper {
    width: 80%;
    margin: 50px auto;
  }

  &__text {
    margin: 0 5px;
    margin-top: 10px;
  }
}
