.section-events{
    padding: 60px 0;
    width: 70%;
    margin: 0 auto;
}

.cta__secondary{
    margin: 20px auto;
    text-align: center;
}

.events-icons{
    margin-top: 50px;
}

.square{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: $color-primary;
    margin-bottom: 50px;
}