.circle-container {
  display: inline-flex;
  width: 100%;
  justify-content: center;

  @include respond(phone){
    display: inline-block;

  }
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px dashed $color-black;
  background-color: $color-white;
  margin: 0 15px;
  text-align: center;
  padding: 30px;
  
  @include respond(phone){
    margin: 5px auto;
  }

  &--photo{
    border: none;
    

    &-1{
        background-image: url(../images/cinnapan-1.jpg);
        background-size: cover;
    }

  }
  &--small{
    position: relative;
    top: -50px;
    width: 80px;
    height: 80px;
    margin: 0 40px;
    padding: 15px;
  }
}
