.cta{
    height: 20vh;
    background-image: radial-gradient($color-secondary-light, $color-secondary-dark);

    @include respond(phone){
        height: 100%;
        padding: 30px 0;
        text-align: center;
    }

    &-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 80px;

        @include respond(phone){
            display: block;
            margin: 0 auto;
        }
    }
    &-heading{
        width: 70%;

        @include respond(phone){
            width: 90%;
            margin: 20px auto;
        }

        &--sub{
            color: $color-primary;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
}