.icon{
    font-size: 3rem !important;
    margin: auto 15px;
    color: white;
    text-align: center;
    width: 60px;
    height: 60px;
    padding: 15px;
    border-radius: 50%;
    background-color: $color-black;
}